body {
    font-family: 'Roboto', sans-serif !important;
}

.navbar {
    background-color:#212959 !important;
}



.nav-link{
    color: #fff;
    
}


.nav-link:hover{
    color: #91b1e2;
    
    
}

#deslogar{
    position: end;
    margin-left: auto;
    border: 2px solid rgb(255, 38, 38);
    border-radius: 8px;
    padding: 5px 10px;
}
#deslogar:hover{
    color: #f85252;
}

#pagina-atual{
    background-color: #406CAD;
    border-radius: 8px;
}

#pagina-atual:hover{
    background-color: #406CAD;
    border-radius: 8px;
    color: #212959;
    
}

