body {
    font-family: 'Roboto', sans-serif !important;
}

.navbar {
    background-color:#212959 !important;
}



.nav-link{
    color: #fff;
    
}


.nav-link:hover{
    color: #91b1e2;
}

#pagina-atual{
    background-color: #406CAD;
    border-radius: 8px;
}

#pagina-atual:hover{
    background-color: #406CAD;
    border-radius: 8px;
    color: #212959;
    
}

